<launch>

  <node name="track_classifier" pkg="classification" type="realtime.py" output="screen" respawn="true">

    <!-- select the pipeline -->
    <param name="pipeline_path" value="$(find classification)/pipelines/vzlusat-1.joblib_p3" />

    <!-- subscribed topics -->
    <remap from="~image_in" to="rospix/sensor_0/image" />

    <!-- published topics -->
    <remap from="~labeled_out" to="~labeled_image" />
    <remap from="~data_out" to="~data" />

  </node>

</launch>
